<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head th:include="_template :: head">
		<meta charset="UTF-8">
	</head>
	
	<body>
		<h1>Tarefas</h1>
	
		<nav th:include="_template :: menu('task')"></nav>
		
		<a href="/task/new" class="btn-sm btn-primary">
			<span class="material-icons">add</span>
		</a>
		
		<div class = "tasks">
			<div class="card-task">
				<img class="avatar" src="foto.jpg">
				<h2>Analise</h2>
				<div class="point">
					<span class="material-icons">star</span>
					<span>100</span>
				</div> 
			
				<div class="status">
					<svg>
						<circle cx="70" cy="70" r="70"></circle>
						<circle cx="70" cy="70" r="70" style="stroke-dashoffset: calc(440 - (440 * 90 )/100 ) "></circle>
					</svg>
					<div class="number">
						<h2>90%</h2>
					</div>
				</div>
				
				<button class="btn-hand">
					<span class="material-icons">pan_tool</span>
				</button>
				<a class="btn btn-sm yellow">
					<span class="material-icons">edit</span>
				</a>
			</div>
		</div>
		
	</body>
</html>